{:deps {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
        com.bhauman/figwheel-main {:mvn/version "0.2.18"}
        org.clojure/tools.namespace {:mvn/version "1.5.0"}
        cljs-ajax {:mvn/version "0.5.9"}
        leipzig {:mvn/version "0.10.0"}
        com.cemerick/url {:mvn/version "0.1.1"}
        crate {:mvn/version "0.2.4"}
        prismatic/dommy {:mvn/version "1.1.0"}}
 :paths ["src" "resources" "compositions" "target"]}
