{:asset-path "composition.out", :output-dir "/home/ben/.boot/cache/tmp/home/ben/src/rhapsody/h2j/-svb0ft/winter/composition.out", :output-to "/home/ben/.boot/cache/tmp/home/ben/src/rhapsody/h2j/-svb0ft/winter/composition.js", :main boot.cljs.main3817, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__869 0x43f21e7f "adzerk.boot_cljs.impl$compile_cljs$handler__869@43f21e7f"]]}