{:asset-path "composition.out", :output-dir "/home/ben/.boot/cache/tmp/home/ben/src/rhapsody/h2j/dbse1i/demo/composition.out", :output-to "/home/ben/.boot/cache/tmp/home/ben/src/rhapsody/h2j/dbse1i/demo/composition.js", :main boot.cljs.main3802, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__869 0x5f54a09e "adzerk.boot_cljs.impl$compile_cljs$handler__869@5f54a09e"]]}