{:asset-path "composition.out", :output-dir "/home/ben/.boot/cache/tmp/home/ben/src/rhapsody/h2j/-cqfra1/gravity_falls/composition.out", :output-to "/home/ben/.boot/cache/tmp/home/ben/src/rhapsody/h2j/-cqfra1/gravity_falls/composition.js", :main boot.cljs.main3807, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__869 0x5aa551bd "adzerk.boot_cljs.impl$compile_cljs$handler__869@5aa551bd"]]}